{% extends 'base.html' %}
{% block title %}Url Shortener{% endblock %}
{% block content %}
<div class="form-row align-items-center card bg-light p-3 text-center">
    <div class="col-auto">
        <h1 class="h1 p-2">Short your links</h1>
        <form action="{% url 'new_short_url:surl' %}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary btn-lg btn-block">Get short link</button>
        </form>
    </div>
</div>

{% endblock %}













